@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header {
    background-color: #1b1b1b;
}

#headNav {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: xx-large;
    color: red;
}

body {
    background-color: #2d2d2d;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: aliceblue;
    margin: 350px auto;
    width: 30%;
    height: 30px;
}